$color-light-1: rgb(230, 230, 230);
$color-light-hover: rgb(226, 217, 190);
$color-light-2: rgb(126, 126, 126);
$color-light-3: rgb(201, 198, 198);
$color-gray: #9e9ea8;
$color-dark-1: rgb(19, 18, 18);
$color-green-1: rgb(0, 226, 0);
$gradient-green: linear-gradient(270deg, rgb(0, 226, 0), rgb(135, 255, 100));