.cards-container {
    grid-column: 1 / -1;
    grid-row: 3 / 5;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    @media screen and (max-width: 75em) {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    column-gap: 1.9rem;
    padding: 2rem;
}
.card {
    background-color: #f3f1ef;
    padding: 1.5rem;
    border-radius: 1.4rem;
    &__text {
        font-size: 3rem;
        @media screen and (max-width: 75em) {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
    }
    &__logo {
        @media screen and (max-width: 75em) {
            padding: 1rem 0;
        }
    }
    &__img {
        width: 100%;
        @media screen and (max-width: 75em) {
            width: 15rem;
        }
    }
}